<!DOCTYPE html>

<html>
    <head>
        <title>ORDEM DE SERVIÇO DPG</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/bootstrap.min.css') }}" type="text/css" media="all" />
    </head>
    
    
    <style>
        body{
            font-size: 11px;
        }
        .font_20{
            font-size: 16px;
        }
        .negrito{
            font-weight: bold;
        }
        .marginTop15{
            margin-top: 30px;
        }
        .marginLeft20{
            margin-left: 20px;
        }
        .base{
            margin: 4px;
            
        }
        .base .borda td{
            border: 1px solid;
        }
        .base .td250{
            width: 220px;
        }
        .base .td25pc{
            width: 5%;
        }
        .base .td33pc{
            width: 25%;
        }
        .base .direita{
            float:right;
            right: 0px;
        }
    </style>
    <body>
        <section class="content">
            <div class="col-lg-12 marginTop15">
                <div class="text-center font_16 negrito">FICHA DE APRESENTAÇÃO PARA CONCESSÃO DE DIÁRIAS Nº124B/2016</div>
                <div class="text-center font_16 negrito">COMANDO DA AERONÁUTICA</div>
            </div>
            
            <div class="col-lg-12 marginTop15">
                <table class="col-lg-12 col-sm-12 col-xs-12 base">
                    <tr>
                        <td class="td250">ORDEM DE SERVIÇO Nº:</td>
                        <td class="td250 negrito">122B/SERIPA VI/2016</td>
                    </tr>
                    <tr>
                        <td>POSTO/NOME:</td>
                        <td class="negrito">CEL AV ALEXANDRE LIMA PRADO</td>
                        <td>SEÇÃO:</td>
                        <td class="td250 negrito">DOP</td>
                        
                    </tr>
                    <tr>
                        <td>ITINERÁRIO/ROTA:</td>
                        <td class="negrito">BSB/RIO/BSB</td>
                    </tr>
                    <tr>
                        <td>DATA/HORA DO AFASTAMENTO:</td>
                        <td class="negrito"> 03/05/2016 / 18:00</td>
                    </tr>
                    <tr>
                        <td>DATA/HORA DO DO RETORNO:</td>
                        <td class="negrito"> 03/05/2016 / 18:00</td>
                    </tr>
                    <tr>
                        <td>ROTEIRO DA MISSÃO:</td>
                        <td class="negrito">BSB/RIO/BSB</td>
                    </tr>
                    <tr>
                        <td>TIPO DE AERONAVE UTILIZADA:</td>
                        <td class="negrito">COMERCIAL</td>
                    </tr>
                    <tr>
                </table>
                <table class="col-lg-12 col-sm-12 col-xs-12 base td25pc">
                    <tr>
                        <td class="td25pc">CPF: <span class="negrito">965.325.487-15</span></td>
                        <td class="td25pc">BANCO: <span class="negrito">341</span></td>
                        <td class="td25pc">AGÊNCIA Nº: <span class="negrito">0383-1</span></td>
                        <td class="td25pc">CONTA Nº: <span class="negrito">24486-2</span></td>
                        
                    </tr>
                    
                </table>
                <table class="col-lg-12 col-sm-12 col-xs-12 base">
                    <tr>
                        <td class="td25pc">MATRÍCULA: <span class="negrito">1855735</span></td>
                    </tr>
                </table>
                <table class="col-lg-12 col-sm-12 col-xs-12 base">
                    <tr>
                        <td class="td33pc">PERÍODO</td>
                        <td class="td33pc">PERNOITE EM:</td>
                        <td class="td33pc">ACRÉSCIMOS (Previsto no 1º no art. 20 do Decreto 4.307/2002, alterado pelo Decreto nº) 6.907/2009).</td>
                    </tr>
                    <tr>
                        <td class="td33pc">03 a 04/05/2016 </td>
                        <td class="td33pc">RIO DE JANEIRO - RJ</td>
                        <td class="td33pc">S( X ) N ( )</td>
                    </tr>
                </table>
                <table class="col-lg-12 col-sm-12 col-xs-12 base">
                    <tr>
                        <td class="td33pc">DÍARIAS COMPLETAS: <span class="negrito">1</span></td>
                        <td class="td33pc">1/2 DÍARIA: <span class="negrito">1</span></td>
                        <td class="td33pc">TOTAL: <span class="negrito">1,5</span></td>
                    </tr>
                </table>
                <table class="col-lg-12 col-sm-12 col-xs-12 base">
                    <tr>
                        <td>Número de acréscimos destinado a cobrir despesas de deslocamento de embarque e desembarque:</td>
                    </tr>
                    <tr>
                        <td>OBSERVAÇÕES: <span class="negrito">TOTAL DE DIÁRIAS: 1,5 - SC: 04.09</span></td>
                    </tr>
                </table>
                
                <table class="col-lg-12 col-sm-12 col-xs-12 base">
                    <tr>
                        <td>BRASÍLIA, 09/04/2018</td>
                        <td>Assinatura</td>
                    </tr>
                </table>
                <table class="col-lg-12 col-sm-12 col-xs-12 base">
                    <tr class="borda">
                        <td colspan="4">A SER PREENCHIDO PELA ADMINISTRAÇÃO</td>
                    </tr>
                    <tr class="borda">
                        <td colspan="3">CÔMPUTO DE DÍARIAS E ACRÉSCIMO (POR LOCALIDADE DE DESTINO) TESOURARIA</td>
                        <td>TESOURARIA</td>
                    </tr>
                    <tr class="borda">
                        <td>VALOR</td>
                        <td>CIDADES</td>
                        <td>QUANTIDADE</td>
                        <td>SOBTOTAL</td>
                        
                    </tr>
                    <tr class="borda">
                        <td class="negrito">267,90</td>
                        <td>Brasília, Manaus e Rio de Janeiro</td>
                        <td class="negrito">1,5</td>
                        <td class="negrito">401,85</td>
                        
                    </tr>
                    <tr class="borda">
                        <td class="negrito">0,00</td>
                        <td>Salvador, São Paulo, Recife, Belo Horizonte, Fortaleza e Porto Alegre</td>
                        <td class="negrito">0</td>
                        <td class="negrito">0,00</td>
                        
                    </tr>
                    <tr class="borda">
                        <td class="negrito">0,00</td>
                        <td>Capitais não previstas no item acima</td>
                        <td class="negrito">0</td>
                        <td class="negrito">0,00</td>
                        
                    </tr>
                    <tr class="borda">
                        <td class="negrito" colspan="2">Acréscimo(s) de deslocamento(s) - R$ R$</td>
                        <td class="negrito">1</td>
                        <td class="negrito">95,00</td>
                        
                    </tr>
                    <tr class="borda">
                        <td class="negrito">PUBLIQUE-SE: 09/06/2016</td>
                        <td colspan="2">FREDERICO ALBERTO MARCONDES FELIPE - Brig <br> CHEFE DO CENIPA</td>
                        <td class="negrito">Total<br> R$ 496,85</td>
                    </tr>
                    
                </table>
                
                <table class="col-lg-12 col-sm-12 col-xs-12">
                    <tr>
                        <td class="text-center">RECIBI O ORIGINAL:<br>EM:______/______/_____ <br><br> _______________________________ <br> Nome/Assinatura</td>
                        <td class="text-center">Aviso de Viagem Nº: ______/_______ <br><br> OB________,de ______/_______/_______</td>
                        
                    </tr>
                </table>
                <table class="col-lg-12 col-sm-12 col-xs-12 base">
                    <tr>
                        <td class="text-center"></td>
                        <td class="direita">CONFERIDO:<br>EM:______/______/_____ <br><br> _______________________________ <br> Nome/Assinatura</td>
                        
                    </tr>
                </table>
                
            </div>
        </section>
    </body>

</html>
